/* commnon css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.radi_4-8 {
    border-radius: 8px;
}
.radi_top {
    border-radius: 8px 8px 0 0;
}
.radi_bot {
    border-radius: 0 0 8px 8px;
}

.p_text {
    color: #707070;
    line-height: 28px;
    letter-spacing: 0.4px;
}

a {
    color: #060606 !important;
    font-weight: 600;
    text-decoration: none !important;
}

.py-50 {
    padding: 50px 0;
}

/* top header */

.top_header {
    background-color: #0d369f;
    padding: 4px 7px;
}

.top_content {
    display: flex;
    justify-content: space-between;
    color: white;
}

.top_content .top_headers-1 .top_header_ul .top_header_li a {
    color: white !important;
}

.top_header_ul {
    margin-top: 16px;
}

.top_headers-2 .top_header_ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.top_headers-2 .top_header_ul li {
    margin: 0 15px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.top_headers-2 .top_header_ul li:hover {
    color: #ff6e65;
}

.top_headers-1 .top_header_ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.top_headers-1 .top_header_ul .top_header_li .top_header_a {
    color: white;
    transition: all ease-in-out 0.5s;
}

.top_headers-1 .top_header_ul .top_header_li:hover .top_header_a {
    color: #ff6e65 !important;
    text-decoration: none;
}

.top_headers-1 .top_header_ul .top_header_li {
    margin: 0 15px;
}

/* header */

.header_title .navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #0d369f !important;
    font-weight: 600;
}

.nav_header .navbar-nav .nav-item .nav-link.active {
    color: #ff6e65 !important;
}

.nav_header .navbar-nav .nav-item .nav-link:hover {
    color: #ff6e65 !important;
}

.nav_header .navbar-nav .nav-item .nav-link {
    color: black;
    text-transform: uppercase;
    transition: all ease-in-out 0.5s;
}

.collapse.navbar-collapse.nav_header {
    justify-content: end;
}

/* hover dropdown */

.nav_header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
}

.nav_header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #ff6e65 !important;
}

.header_search {
    border-radius: 20px;
}

.nav_search {
    position: relative;
}

.nav_search .form-inline .header_search {
    padding: 20px 10px;
}

.nav_search:hover .icons_search {
    color: #ff6e65 !important;
}

.icons_search {
    position: absolute;
    right: 40px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.mode_dom .icons_moon {
    cursor: pointer;
}
.modeIcon {
    border: none;
    background: none;
}
.mode_dom .modeIcon i {
    color: #060606;
    font-size: 21px;
    transform: rotate(-27deg);
    transition: all ease-in-out 0.5s;
}
.mode_dom:hover .modeIcon i {
    color: #ff6e65;
}
#switchLight {
    display: none;
}

.indicators_ul.ul_de {
    left: unset;
    display: unset;
    padding-left: unset;
    margin-right: unset;
    margin-left: unset;
    right: 12px;
    bottom: 50px;
}

.dots_huu.active {
    background-color: #ff6e65;
}

.dots_huu {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

/* carousel */

.div_banner_slide {
    position: relative;
}

.div_banner_slide .div_banner_detail .banner_img {
    width: 100%;
}

.banner_info_bg h5 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.banner_info_bg .btn_header {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606 !important;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all 0.25s ease-in-out;
}

.banner_info_bg .btn_header:hover {
    background-color: #ff6e65;
    color: white !important;
}

.banner_info_bg {
    position: absolute;
    top: 26%;
    max-width: 600px;
}
.banner_info_bg h5 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.banner_info_bg .btn_header {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all 0.25s ease-in-out;
}

.banner_info_bg .btn_header:hover {
    background-color: #ff6e65;
    color: white !important;
}

/* banner bottom   */
.banner_bottom {
    position: relative;
    margin-top: -65px;
}

.banner_bottom .area_box .title_head:hover {
    color: #060606 !important;
}

.banner_bottom .area_box .title_head {
    transition: all 0.25s ease-in-out;
}

.banner_bottom .area_box {
    padding: 50px 37px;
    /* position: relative; */
    z-index: 1;
    border-radius: 8px;
}

.banner_bottom .area_box i {
    color: white;
    font-size: 35px;
}

.banner_bottom .area_box h4 .title_head {
    margin-top: 25px;
    display: block;
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
}

.banner_bottom .area_box.color1 {
    background-color: #037ef3;
}

.banner_bottom .area_box.color2 {
    background-color: #ffc949;
}

.banner_bottom .area_box.color3 {
    background-color: #ff4f81;
}

.banner_bottom .area_box.color4 {
    background-color: #1ee697;
}
/* Welcome */

.div_title.title_main {
    margin-bottom: 50px;
    padding-bottom: 26px;
}

.div_title.title_main .h2_title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
    color: #060606;
}

.div_title.title_main .span_title {
    color: #ff6e65;
}

.div_title.title_main .h2_title::before,
.div_title.title_main .h2_title::after {
    content: '';
    position: absolute;
    background-color: #707070;
    width: 60px;
    height: 2px;
    margin: 0 auto;
    right: 0;
}

.div_title.title_main .h2_title::before {
    left: -20px;
    bottom: -8px;
}

.div_title.title_main .h2_title::after {
    left: 20px;
    bottom: -15px;
}

.welcome__icon.icon_bg {
    margin: 0 auto;
    color: #0d369f;
    font-size: 30px;
    background: rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.welcome__text .welcome__text_a {
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.welcome__text .welcome__text_a .welcome__text_h3 {
    transition: all ease-in-out 0.5s;
    margin: 20px 0;
}

.welcome__text_a:hover .welcome__text_h3 {
    color: #ff6e65;
}

.welcome__text .welcome__text_p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Pick a course */

.courses__bg {
    background-color: #f8f9ff;
}
.courses_blog {
    padding-top: 60px;
}
.courses_detail_content .courses_thumb {
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}

.courses_thumb .courses_thumb_img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.courses_thumb .course_list {
    position: absolute;
    left: 30px;
    top: 15px;
}

.course_list .course_list_ul {
    display: flex;
}

.course_list_ul .course_list_li {
    margin-right: 5px;
    list-style: none;
    border-radius: 4px;
}

.course_list_ul .course_list_li:nth-child(1) {
    background-color: #ffa100;
}

.course_list_ul .course_list_li:nth-child(2) {
    background-color: #1dc295;
}
.course_list_ul .course_list_li:nth-child(3) {
    background-color: #037ef3;
}

.course_list_li .course_list_a {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #ffffff !important;
}

.courses_thumb .course_price {
    position: absolute;
    right: 25px;
    bottom: -15px;
}

.course_price h3 {
    min-width: 70px;
    min-height: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #ff6e65;
    color: #ffffff;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
}
/* courses_detail_content */
.courses_detail_content {
    /* background: initial;
    border-radius: 8px; */
    transition: all ease-in-out 0.5s;
}
.courses_detail_content:hover {
    border-radius: 8px;
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}

.courses_detail_content .courses_text {
    border-radius: 0 0 8px 8px;
    border: 1px solid #eee;
    border-top: unset;
    padding: 20px;
    background-color: #fff;
}
/* courses_text_top */
.courses_text_top {
    margin: 16px 0 4px 0;
}
.courses_text_top .courses_text_top_ul.nav {
    justify-content: space-between;
}
.courses_text_top_li .courses_text_top_i {
    color: #ff6e65;
}
.courses_text_top_li {
    color: #060606;
}
/* .courses_text_mid */
.courses_text_mid .welcome__text_a .welcome__text_h3 {
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}
/* courses_text_bot */
.courses_text_bot {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #eee;
}
.courses_text_bot_a .courses_text_bot_i {
    color: #ffc949;
    font-size: 15px;
    margin: 2px;
}
.know_detail_a a {
    color: #ff6e65 !important;
    padding: 0;
    background: transparent !important;
    font-size: 14px;
    transition: all ease-in-out 0.5s;
}
.know_detail_a:hover a {
    color: #0d369f !important;
    background: transparent !important;
}
/* <!-- course btn --> */
.course_btn .mybtn.mybtn_de {
    margin-top: 16px;
    background-color: #ff6e65;
    border-color: #ff6e65;
    cursor: pointer;
    padding: 14px 30px;
    transition: all ease-in-out 0.5s;
}
.course_btn .mybtn.mybtn_de:hover {
    background-color: #0d369f;
    border-color: #0d369f;
}
.course_btn .mybtn.mybtn_de .mybtn_a {
    color: #eee !important;
}

/* <!-- Classes --> */
.classes_bg {
    margin-top: 10px;
    background-image: url('../img/bg3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* padding-bottom: 100px; */
}
.classes_content.classes_content_deflex {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    margin: 16px 0;
}

.classes_icon i {
    margin-right: 16px;
    color: #0d369f;
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
}
.Classes_text h3 {
    font-size: 20px;
    line-height: 30px;
    color: #060606;
    font-weight: 600;
    margin-bottom: 6px;
}
.Classes_text p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
    margin: 0 !important;
}

/* <!-- Numbers --> */
.div_title .p_numbers {
    font-size: 16px;
    margin-bottom: 0;
}
.numbers_count_bdr {
    border-right: 1px solid #eee;
}
.numbers_count span {
    color: #060606;
    font-size: 46px;
    font-weight: 600;
}
.numbers_count p {
    font-size: 16px;
    line-height: 28px;
    color: #060606;
    letter-spacing: 0.4px;
}
/* <!-- feedback --> */
.feedback_col {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 2rem;
}
.feedback_quote {
    display: flex;
}
.feedback_quote_before {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
}
.feedback_quote_before::before {
    content: open-quote;
    font-size: 50px;
    color: #ff6e65;
    font-family: initial;
    line-height: 0.8;
    padding-top: 8px;
    display: inline-block;
}
.feedback_quote_before::after {
    content: close-quote;
}
.feedback_author {
    display: flex;
    align-items: center;
}
.feedback_author img {
    margin-right: 10px;
}

.feedback_author_text h3,
.feedback_author_text p {
    padding: 0;
    margin: 0;
}
.feedback_author_text h3 {
    font-weight: 600;
    line-height: 16px;
    color: #060606;
    font-size: 20px;
}
.feedback_author_text p {
    font-size: 13px !important;
    color: #707070;
}
/* <!-- Instructors --> */
.ins_col_wrap {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    background: #fff;
}
.ins_pic_a {
    cursor: pointer !important;
}
.ins_pic {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all ease-in-out 0.5s;
}
.ins_col_wrap:hover .ins_pic .ins_text_hide {
    opacity: 1;
    transform: translateY(0);
    bottom: 0;
}
.ins_pic:hover .ins_pic_a .ins_pic_img {
    width: 100%;
    height: auto;
}
.ins_col_wrap:hover .ins_text .ins_text_a {
    color: #ff6e65 !important;
}
/* ins_text_hide */
.ins_col_wrap .ins_text_hide {
    opacity: 0;
    bottom: -20px;
    position: absolute;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    transition: all ease-in-out 0.5s;
    width: 100%;
}
.ins_text_hide a i {
    color: #0d369f;
    font-size: 14px;
    background: #fff;
    line-height: 28px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    transition: all ease-in-out 0.5s;
}
.ins_text_hide a:hover i {
    opacity: 0.8;
}

.ins_text a {
    font-size: 20px;
    font-weight: 600;
    color: #060606;
}
.ins_text p {
    font-size: 80%;
    font-weight: 400;
    color: #707070;
}

/* <!-- contactNow --> */

.contactNow_decol .contact_img {
    width: 100% \9;
    display: block;
}
.contactNow_decol_text {
    padding-right: 50px;
}
.contactNow_decol_text h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    color: #060606;
    margin-bottom: 16px;
}
.contactNow_decol_text p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.course_btn.contact_tbn {
    margin-top: 24px !important;
}

/* footer */
.footer_area .footer_area_sub {
    padding: 80px 0;
    background: #060e1f;
    position: relative;
}

.right_ride {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.footer_area_form .rightside_form {
    display: flex;
}

.footer_area_form .rightside_form input {
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #060606;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.footer_area_form .rightside_form button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.footer_area_form .title_head {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}

.footer_area .footer_area_sub_columns {
    margin-top: 140px;
}

.footer_area .column2 span {
    font-size: 13px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.footer_area .sub_1_left h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.footer_area .sub_1_left ul li {
    list-style: none;
}

.footer_area .sub_1_left ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece !important;
    margin: 0 0 10px 0;
    display: block;
    transition: all ease-in-out 0.5s;
}

.footer_area .sub_1_left ul li a:hover {
    color: white !important;
}

.footer_area .sub_1_left ul li span {
    color: white;
}

.footer_area .sub_2_right h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.footer_area .sub_2_right a {
    transition: all ease-in-out 0.5s;
}

.footer_area .sub_2_right a:hover {
    color: white !important;
}

.footer_area .column2 span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.footer_area .contact_para {
    margin-top: 10px;
}

.footer_area .href_2 {
    margin-top: 10px;
    padding: 10px 0;
}

.footer_area .column2 a {
    text-decoration: none;
    color: #cecece !important;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.footer_area .about_right_cont {
    border-left: 1px solid rgb(64 73 82 / 51%);
}

.footer_area .sub_2_right p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}

.footer_area .column_2 {
    margin-top: 1.2em;
}

.footer_area ul.social li {
    display: inline-block;
    margin-right: 5px;
}

.footer_area ul.social li a {
    color: #fff !important;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.footer_area ul.social li a:hover {
    color: #a0a0a0 !important;
}

.footer_area .columns p {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
}

.footer_area .footer_area_2 {
    background: #040a17;
    padding: 20px 0;
}

/* backtotop */

.backtotop {
    background-color: #0d369f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 6px;
    color: white;
    border: solid 1px #0d369f;
    position: fixed;
    right: 15px;
    bottom: 20px;
    opacity: 0;
}

.backtotop i {
    color: white;
    font-size: 12px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}
